# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# IDE
.idea/
*.swp
*.swo
*~

# Variáveis de ambiente
.env

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl

# OS
Thumbs.db
.DS_Store

# NuGet
*.nupkg
packages/
